{{> breadcrumbs-register}}
<div class="container">
  <div class="row">
      <div class="col">
        <h2>Список студентов</h2>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
          {{#each students}}
          <li>
            {{name}}
            {{firstName}}
            {{secondName}}
            {{email}}
            {{group}}
            <form class="" action="/register/student/delete" method="post">
              <input type="hidden" name="id" value="{{_id}}">
              <input type="hidden" name="name" value="{{name}}">
              <input type="hidden" name="email" value="{{email}}">
              <button type="submit" name="button" class="btn btn-outline-danger">Удалить</button>
            </form>
          </li>
          {{else}}
          <li>Список пуст </li>
          {{/each}}
      </ul>
      <h2>Список предподователей</h2>
      <ul>
          {{#each teachers}}
          <li>
            {{name}}
            {{firstName}}
            {{secondName}}
            {{email}}
            {{phone}}
            <form class="" action="/register/teacher/delete" method="post">
              <input type="hidden" name="id" value="{{_id}}">
              <input type="hidden" name="name" value="{{name}}">
              <input type="hidden" name="name" value="{{secondName}}">
              <input type="hidden" name="email" value="{{email}}">
              <button type="submit" name="button" class="btn btn-outline-danger">Удалить</button>
            </form>
          </li>
          {{else}}
          <li>Список пуст </li>
          {{/each}}
      </ul>
      <h2>Список групп</h2>
      <ul>
          {{#each groups}}
          <li>
            {{name}}
            {{code}}-{{group}}
            <form class="" action="/register/group/delete" method="post">
              <input type="hidden" name="id" value="{{_id}}">
              <button type="submit" name="button" class="btn btn-outline-danger">Удалить</button>
            </form>
          </li>
          {{else}}
          <li>Список пуст </li>
          {{/each}}
      </ul>
    </div>
  </div>
</div>
