{{> breadcrumbs-register}}
<div class="container admin__layout">
    <div class="row">
        <div class="col">
            <h1>Создайте группы</h1>
        </div>
    </div>
    <form class="top__form" action="/register/student-group" method="POST">
        <div class="row">
            <div class="col-6">
                <label for="groupName" class="form-label">Название группы</label>
                <input type="text" id="groupName" class="form-control" placeholder="Например: ОИС-117" name="code" required>
                <select class="form-select" name="group" id="group" required>
                  {{#each group}}
                  <option>{{name}} {{code}} {{group}}</option>
                  {{else}}
                  <option disabled>Создайте группы</option>
                  {{/each}}
                </select>
                <button class="btn btn-primary" type="submit">
                    Создать
                </button>
            </div>
            <div class="col-6">
                <h2>Создание группы</h2>
                <p>Написать подсказку</p>
            </div>
        </div>
        <div class="row  table__student-group">
            <div class="col">
                <h2>Выберите студентов</h2>
                {{#if students}}
                <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Выберите</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Email</th>
                        <th scope="col">Направление</th>
                        </tr>
                    </thead>
                        <tbody>
                        {{#each students}}
                            <tr>
                                <td>
                                    <input type="checkbox" value="{{name}} {{firstName}} {{secondName}} {{email}}" name="students" >
                                </td>
                                <td>
                                    {{name}}
                                </td>
                                <td>
                                    {{firstName}}
                                </td>
                                <td>
                                    {{secondName}}
                                </td>
                                <td>
                                    {{email}}
                                </td>
                                <td>
                                    {{group}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                {{else}}
                <p>Вы пока ничего не добавили</p>
                {{/if}}
            </div>
        </div>
    </form>
    {{#each groups}}
    <div class="row">
        <div class="col-10">
            <div class="accordion" id="accordion">
                <div class="card">
                    <div class="card-header" id="heading-{{code}}">
                        <h1>{{code}}</h1>
                        <h3>{{group}}</h3>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{code}}" aria-expanded="false" aria-controls="{{_id}}">
                            Показать группу
                        </button>

                    </div>

                    <div id="{{code}}" class="collapse" aria-labelledby="heading-{{code}}" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                            {{#each students}}
                                <li>{{this}}</li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div>
                <form class="" action="/register/student-group/delete" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-outline-danger" name="button">Удалить</button>
            </form>
            <form class="" action="" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-outline-success mx-auto" name="button">Изменить</button>
            </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
