{{> breadcrumbs-register}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Создать новую группу</h1>
    </div>
  </div>
  <form class="" action="/register/group" method="post">
    <div class="row justify-content-center">
      <div class="col">
        <label for="name" class="form-label">Название группы</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="Название группы" required>
        <label for="code">Код группы</label>
        <input type="number" id="code" class="form-control" name="code" placeholder="Код группы" required>
        <label for="group">Номер группы</label>
        <input type="number" id="group"class="form-control" name="group" placeholder="Номер группы" required>
        <button type="submit" class="btn btn-primary" name="button">Создать</button>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <h2>Список групп</h2>
  <table class="table">
    {{#each groups}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
        {{group}}
      </td>
      <td>
        <form class="" action="/register/group/delete" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <button type="submit" class="btn btn-outline-danger" name="button">Удалить</button>
        </form>
      </td>
    </tr>
  {{else}}
  </table>
  <p>Вы пока не добавили ничего</p>
  {{/each}}
</div>
