{{> breadcrumbs-register}}
<h2>Список студентов</h2>
<ul>
    {{#each students}}
    <li>
      {{name}}
      {{firstName}}
      {{secondName}}
      {{email}}
      {{group}}
      <form class="" action="/register/student/delete" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <input type="hidden" name="name" value="{{name}}">
        <input type="hidden" name="email" value="{{email}}">
        <button type="submit" name="button">Удалить</button>
      </form>
    </li>
    {{else}}
    <li>Список пуст </li>
    {{/each}}
</ul>
