{{> breadcrumbs-register}}
<div aria-labelledby="home-tab" class="container admin__layout">
  <div class="row">
    <div class="col">
      <h1>Зарегистрируйте преподавателя</h1>
    </div>
  </div>
  <form class="top__form" action="/register/teacher" method="post">
    <div class="row">
      <div class="col-6">
        <label for="name" class="form-label">Имя преподавателя</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="Имя" required>
        <label for="firstName" class="form-label">Имя преподавателя</label>
        <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Фамилия" required>
        <label for="secondName" class="form-label">Имя преподавателя</label>
        <input type="text" id="secondName" name="secondName" class="form-control" placeholder="Отчество" required>
      </div>
      <div class="col-6">
        <label for="email" class="form-label">Электронный адрес</label>
        <input type="email" id="email" class="form-control" name="email" placeholder="Email" required>
        <label for="phone" class="form-label">Номер телефона</label>
        <input type="tel" id="phone" class="form-control" name="phone" value="+7(___)___-____" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" name="button" class="btn btn-primary">Создать</button>
      </div>
    </div>
  </form>
</div>
<div class="container admin__layout">
  <h2>Список преподавателей</h2>
  {{#if teachers}}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Отчество</th>
          <th scope="col">Email</th>
          <th scope="col">Телефон</th>
        </tr>
      </thead>
      <tbody>
      {{#each teachers}}
        <tr>
          <td>{{name}}</td>
          <td>{{firstName}}</td>
          <td>{{secondName}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>
            <form class="" action="/register/teacher/delete" method="post">
              <input type="hidden" name="id" value="{{_id}}">
              <input type="hidden" name="name" value="{{name}}">
              <input type="hidden" name="name" value="{{secondName}}">
              <input type="hidden" name="email" value="{{email}}">
              <button type="submit" name="button" class="btn btn-outline-danger">Удалить</button>
            </form>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <p>Вы пока ничего не добавили</p>
  {{/if}}
</div>
